.questionCellContainer {
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  background-color: white;
  border: solid black 1.5px;
}

.questionListContainer {
  width: 80%;
  min-height: 100vh;
  background-color: lightgray;
  display: flex;
  justify-content: center;
}
.headerContainer {
  width: 100%;
}

.listContainer {
  width: 80%;
}

.answerPaper {
  padding: 30px;
  min-width: 400px;
  min-height: 400px;
}

.answerSpan {
  font-size: large;
}
